<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SftpHost" value="ftp.kerridgecsna.com" />
		<add key="SftpUsername" value="VastAutoInstall" />
		<add key="SftpPassword" value="FwNN$ec53wBleN87W1" />
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUsername" value="vastupdater@gmail.com" />
		<add key="SmtpPassword" value="ypnf kvmk ekri vxmq" />
		<add key="EmailFrom" value="vastupdater@gmail.com" />
		<add key="EmailTo" value="Kayle.Schmoyer@klipboard.com;Schmoyer21@gmail.com" />
	</appSettings>
</configuration>